<nav class="navbar" style="background-color: #2c3e50; margin: 0; width: 100%;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand" style="color: #fff;" routerLinkActive="active">POWlist</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/" style="color: #fff;">View Resorts</a></li>
                <li routerLinkActive="active"><a routerLink="map" style="color: #fff;">Map View</a></li>
                <li routerLinkActive="active"><a routerLink="login" style="color: #fff;">Log In/Sign Up</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a href="#" class="dropdown-toggle" role="button" style="color: #fff;">Settings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" style="color: #fff;">View Account</a></li>
                        <li><a href="#" style="color: #fff;">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>