.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resort-card {
    height: 240px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
    padding: .5em;
    color: #fff;
}

.resort-card-header {
    display: flex;
    justify-content: space-between;
}

.resort-card-geo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resort-card-footer {
    display: flex;
    justify-content: space-between;
}

.add-resort-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-resort-row h4 {
    text-align: center;
}

.add-resort-btn {
    width: 400px;
}