<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-12 resort-card" *ngFor="let resort of resorts"
  [ngStyle]="{'background-image': 'url(' + resort.imagePath + ')'}">
    <div class="resort-card-header d-flex">
      <p>#1</p>
      <p>{{resort.snowInInches}}"</p>
    </div>
    <div class="resort-card-geo">
        <h2 class="text-center">{{resort.name}}</h2>
        <h5 class="text-center">{{resort.country}}</h5>
    </div>
    <div class="resort-card-footer">
        <p>{{resort.skiPasses}}</p>
        <p>{{resort.rating}}</p>
    </div>
  </div>
  <!-- <app-resort *ngFor="let resort of resorts" [resortName]="resort.resortName"></app-resort> -->
</div>
