<app-filter (filterResortsByText)="filterResorts($event)" (filterByPowder)="filterResortsForPowder()" (filterResortsByPass)="filterResortsByPass($event)"
  (resetFilters)="resetResortFilters()" (filterByAffordability)="filterByPrice()">
</app-filter>
<div class="container">
  <hr>
  <div class="row" *ngIf="displayResorts.length === 0">
    <h3>There doesn't appear to be anything here</h3>
  </div>
  <div class="row">
    <div class="center col-lg-3 col-md-4 col-sm-12 resort-card" *ngFor="let resort of displayResorts;let indexOfElement=index;">
      <app-resort-card (click)="initResortModal(resort)" [resort]="resort" [rank]="indexOfElement"></app-resort-card>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="add-resort-row">
      <h4>See something missing? Help us add resorts to the project.</h4>
      <div class="resort-help-buttons">
        <button class="btn btn-info add-resort-btn" (click)="toggleAddResortForm()">Add Resort</button>
        <button class="btn btn-info add-resort-btn" (click)="toggleFeedbackForm()">Send Feedback</button>
      </div>
      <app-add-resort *ngIf="showAddResortForm" (resortCreated)="addResort($event)" (closeModal)="toggleAddResortForm()"></app-add-resort>
      <app-feedback-form *ngIf="showFeedbackForm"></app-feedback-form>
    </div>
  </div>
</div>
<hr>