<app-filter (filterResorts)="filterResorts($event)" (ikonFilterSelected)="filterResortsForIkon($event)" (passFilterSelected)="filterResortsByPass($event)"
  (filterBySnowTotals)="filterResortsForPowder($event)" (filterResortsByPass)="filterResortsByPass($event)" (resetFilter)="resetResortFilter($event)">
</app-filter>
<div class="container">
  <hr>
  <div class="row">
    <div class="center col-lg-3 col-md-4 col-sm-12 resort-card" *ngFor="let resort of displayResorts;let indexOfElement=index;">
      <app-resort-card (click)="initResortModal(resort)" [resort]="resort" [rank]="indexOfElement"></app-resort-card>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="add-resort-row">
      <h4>See something missing? Help us add resorts to the project.</h4>
      <button class="btn btn-info add-resort-btn" (click)="toggleAddResortForm()">Add Resort</button>
      <app-add-resort *ngIf="showAddResortForm" (resortCreated)="addResort($event)" (closeModal)="toggleAddResortForm()"></app-add-resort>
    </div>
  </div>
</div>
<hr>