<div class="row">
    <div class="col-xs-12">
        <div class="filter">
            <button class="btn btn-info filter-button">Filter</button>
            <div class="input-group filter-search">
                <input type="text" class="form-control" placeholder="Search Resort or Region">
                <!-- <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                </div> -->
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle">
                    Filter Resorts <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Review Resort</a></li>
                    <li><a href="#">Edit Resort</a></li>
                    <li><a href="#">Favorite Resort</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>