<div class="row">
    <div class="col-xs-12">
        <div class="filter">
            <button class="btn btn-info filter-button" (click)="onSearchFilter()">Filter</button>
            <div class="input-group filter-search">
                <input type="text" class="form-control" placeholder="Search Resort or Region" #filterInput>
                <!-- <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                </div> -->
            </div>
            <!-- <div class="btn-group" appDropdown> -->
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" (click)="toggleFilterView()">
                    Filter Resorts <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">Review Resort</a></li>
                    <li><a href="#">Edit Resort</a></li>
                    <li><a href="#">Favorite Resort</a></li>
                </ul>
            </div>
            <button class="btn btn-warning" (click)="clearFilters($event)">Remove Filters</button>
            <!-- <button class="btn btn-warning" (click)="clearFilter()">Remove Filters</button> -->
        </div>
        <div class="filters" *ngIf="displayFilters">
            <div class="filters-buttons">
                <button class="btn" [ngClass]="passSelected === 'Ikon' ? 'btn-info' : ''" (click)="selectPassFilter('Ikon')">Ikon</button>
                <button class="btn" [ngClass]="passSelected === 'Epic' ? 'btn-info' : ''" (click)="selectPassFilter('Epic')">Epic</button>
                <button class="btn" [ngClass]="passSelected === 'Mtn Collective' ? 'btn-info' : ''" (click)="selectPassFilter('Mtn Collective')">
                    Mtn Collective
                </button>
                <button class="btn" [ngClass]="otherFilterSelected === 'Snowfall' ? 'btn-info' : ''" (click)="filterByOther('Snowfall')">
                    Powder
                </button>
                <!-- <button class="btn" [ngClass]="otherFilterSelected === 'Terrain' ? 'btn-info' : ''" (click)="filterByOther('Terrain')">
                    Big Mtn
                </button> -->
                <button class="btn" [ngClass]="otherFilterSelected === 'Affordability' ? 'btn-info' : ''" (click)="filterByOther('Affordability')">
                    Affordable
                </button>
            </div>
        </div>
    </div>
</div>