<div class="add-resort-form">
    <div class="row">
        <div class="col-xs-12">
            <form>
                <div class="row">
                    <div class="col-xs-6 form-group" *ngFor="let stat of resortStats | keyvalue">
                        <label for="stat.key">{{stat.value.label}}</label>
                        <input type="text" name="stat.key" class="form-control" [(ngModel)]="stat.key.value">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <h3 class="bg-danger" *ngIf="displayFormFail">Please make sure all required fields are filled out</h3>
                    <div class="col-xs-12">
                        <button class="btn btn-info" type="button" (click)="onAddResort()">Add Resort</button>
                        <button class="btn btn-warning" type="button" (click)="resetForm()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>