<div class="add-resort-form">
    <div class="row">
        <h2 *ngIf="displayThankyou">Thanks for helping us add new resorts to Powlist!</h2>
        <form (ngSubmit)="submitNewResort()" #addResortForm="ngForm" *ngIf="!displayThankyou">
            <div class="row">
                <h3>Basic Details</h3>
                <h4 *ngIf="!addResortForm.isValid && addResortForm.touched">Please fill out all basic resort details</h4>
                <div class="col-xs-6 col-sm-4 form-group" *ngFor="let obj of addResortFormBasicInfo">
                    <label for="{{obj.name}}">{{obj.label}}</label>
                    <input
                        type="text"
                        name="{{obj.name}}"
                        class="form-control"
                        placeholder="{{obj.placeholder}}"
                        [(ngModel)]="newResort[obj.name]" required>
                </div>
                <div class="col-xs-12 form-group">
                    <label for="info.key">Description</label>
                    <textarea
                        class="form-control"
                        name="description"
                        placeholder="Beaver Creek is an all around great resort..."
                        [(ngModel)]="newResort.description"
                        rows="3"></textarea>
                </div>
                <hr>
            </div>
            <div class="row">
                <h3>Resort Stats</h3>
                <div class="col-xs-6 col-sm-4 form-group" *ngFor="let obj of addResortFormStats">
                    <label for="{{obj.name}}">{{obj.label}}</label>
                    <input 
                        type="text"
                        name="{{obj.name}}"
                        placeholder="{{obj.placeholder}}"
                        class="form-control"
                        [(ngModel)]="newResort.stats[obj.name]">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-xs-6 col-sm-3" *ngFor="let obj of addResortFormDropdowns">
                    <label for="{{obj.name}}">{{obj.label}}</label>
                    <select 
                        id="{{obj.name}}"
                        class="form-control"
                        [(ngModel)]="newResort.stats[obj.name]"
                        name="{{obj.name}}">
                        <option
                            value="{{option}}"
                            *ngFor="let option of obj.options">{{option}}</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <h3>Terrain Breakdown</h3>
                <div class="col-xs-6 col-sm-3 form-group" *ngFor="let obj of addResortFormTerrainBreakdown">
                    <label for="{{obj.name}}">{{obj.label}}</label>
                    <input 
                        type="text"
                        name="{{obj.name}}"
                        placeholder="{{obj.placeholder}}"
                        class="form-control"
                        [(ngModel)]="newResort.stats[obj.name]">
                </div>
            </div>

            <div class="row">
                <h3 class="bg-danger" *ngIf="displayFormFail">Please make sure all required fields are filled out</h3>
                <div class="col-xs-12 resort-form-buttons">
                    <button class="btn btn-info" type="submit">Add Resort</button>
                    <button class="btn btn-warning" type="button" (click)="resetForm()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>