<div class="modal-container">
    <div class="modal-banner"
        [ngStyle]="{'background-image': 'url(' + resort.imagePath + ')'}">
        <h1>{{resort.name}}</h1>
        <h4>{{resort.location + ", " + resort.country}}</h4>
    </div>
    <div class="modal-navigation">
        <p class="modal-nav-active">Resort Info</p>
        <p class="modal-nav-inactive">Forecast</p>
        <p class="modal-nav-inactive">Reviews</p>
        <p class="modal-nav-inactive">Trail Maps</p>
        <p class="modal-nav-inactive">Photos</p>

    </div>
    <div class="modal-data">
        <div class="modal-data-table">
            <div class="modal-data-table-row" *ngFor="let resortTableRow of resortTable">
                <p>{{resortTableRow.name}}</p>
                <p>{{resortTableRow.data}}</p>
            </div>
        </div>
        <!-- <button (click)="close()" class="btn btn-info">Update Data</button> -->
        <button (click)="close()" class="btn btn-info">Close Modal</button>
        <p>Update Data</p>
    </div>
</div>