<div class="modal-container" *ngIf="!showReviewForm">
    <div class="modal-banner" [ngStyle]="{'background-image': 'url(' + resort.imagePath + ')'}">
        <h1>{{selectedResort.name}}</h1>
        <h4>{{selectedResort.city + ", " + selectedResort.province}}</h4>
        <button class="btn btn-warning" (click)="handleModalNavigation('Review Form')">Add a Review</button>
    </div>
    <div class="modal-navigation">
        <p (click)="handleModalNavigation('Info')" [ngClass]="selectedNav === 'Info' ? 'modal-nav-active' : 'modal-nav-inactive'">
            Resort Info
        </p>
        <p [ngClass]="selectedNav === 'Reviews' ? 'modal-nav-active' : 'modal-nav-inactive'" (click)="handleModalNavigation('Reviews')">Reviews</p>
        <p [ngClass]="selectedNav === 'Forecast' ? 'modal-nav-active' : 'modal-nav-inactive'" (click)="handleModalNavigation('Forecast')">
            Forecast
        </p>
        <p class="modal-nav-inactive">Trail Maps</p>
        <p class="modal-nav-inactive">Photos</p>
        <p class="modal-nav-inactive">Guide</p>
    </div>
    <div class="modal-data">
        <div class="modal-data-table">
            <app-resort-modal-reviews *ngIf="selectedNav === 'Reviews'" [id]="selectedResort.id" [name]="selectedResort.name"></app-resort-modal-reviews>
            <app-resort-modal-forecast *ngIf="selectedNav === 'Forecast'"></app-resort-modal-forecast>
            <app-resort-modal-info *ngIf="selectedNav === 'Info'" [id]="selectedResort.id"></app-resort-modal-info>
            <app-resort-modal-review-form *ngIf="selectedNav === 'Review Form'" [name]="selectedResort.name" [id]="selectedResort.id"
                class="modal-review" (closeReviewForm)="toggleReviewForm($event)">
            </app-resort-modal-review-form>
            <hr>
        </div>
        <div class="modal-footer">
            <button (click)="close()" class="btn btn-info" id="modal-close">Close</button>
        </div>
    </div>
</div>