.resort-card-container {
    height: 240px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .5em;
    border-radius: 5px;
    background-color: dodgerblue;
    opacity: .8;
}

.resort-card-container:hover {
    opacity: 1;
}

.resort-card-header {
    display: flex;
    justify-content: space-between;
}

.resort-card-header  p {
    text-shadow: 1px 1px #2c3e50;
}

.resort-card-footer p {
    text-shadow: 1px 1px #2c3e50;
}

.resort-card-geo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resort-card-geo h2 {
    text-shadow: 1px 1px #2c3e50;
}

.resort-card-geo h5 {
    text-shadow: 1px 1px #2c3e50;
}

.resort-card-footer {
    display: flex;
    justify-content: space-between;
}

.add-resort-btn {
    width: 400px;
}

.resort-card-container-border-Ikon {
    border: 4px solid rgb(249, 196, 63);
}

.resort-card-container-border-Epic {
    border: 4px solid rgb(244, 97, 35);
}

.resort-card-container-border-MtnCollective {
    border: 4px solid rgb(35, 190, 168);
}