.resort-card-container {
    height: 240px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
    padding: .5em;
    background-color: #2980b9;
    /* color: #fff; */
}

.resort-card-header {
    display: flex;
    justify-content: space-between;
}

.resort-card-geo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resort-card-footer {
    display: flex;
    justify-content: space-between;
}

.add-resort-btn {
    width: 400px;
}

.resort-card-container-border-Ikon {
    border: 4px solid rgb(249, 196, 63);
}
.resort-card-container-border-Epic {
    border: 4px solid rgb(244, 97, 35);
}

.resort-card-container-border-MtnCollective {
    border: 4px solid rgb(35, 190, 168);
}