.modal-data-info-container {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
}

.modal-data {
    min-height: 300px;
}

.resort-modal-reviews {
    height: 100px;
    width: 100%;
}

.modal-data-table-row {
    height: 40px;
    width: 50%;
    display: flex;
    max-height: 300px;
}

.modal-data-table-row p {
    font-size: 16px;
    width: 50%;
}
