<div class="modal-data-info-container">
    <div class="resort-modal-reviews">cats</div>
    <!-- <div class="resort-modal-reviews">
        <div class="resort-modal-review">
            <p>Overall Score</p> -->
            <!-- <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div> -->
        <!-- </div>
    </div> -->
    <!-- <div class="modal-data-table-row" *ngFor="let resortTableRow of resortTable"> -->
    <!-- This is all going to be a form toggle -->
    <div class="modal-data-table-row">
        <p>Snow</p>
        <p>{{newResortTable.snow + ' Inches/Yr'}}</p>
    </div>
    <div class="modal-data-table-row">
        <p>Number of Lifts</p>
        <p>{{newResortTable.lifts}}</p>
    </div>
    <div class="modal-data-table-row">
        <p>Trails</p>
        <p>{{newResortTable.trails}}</p>
    </div>
    <div class="modal-data-table-row">
        <p>Vertical</p>
        <p>{{newResortTable.vertical + ' feet'}}</p>
    </div>
    <div class="modal-data-table-row">
        <p>Passes</p>
        <p>{{newResortTable.passes}}</p>
    </div>
    <div class="modal-data-table-row">
        <p>Terrain Parks</p>
        <p>{{newResortTable.terrainParks}}</p>
    </div>
    <div class="modal-data-table-row">
        <p>Adult Lift Ticket (1-Day)</p>
        <p>{{'$' + newResortTable.ticketPrices}}</p>
    </div>
    <div class="modal-data-table-row">
        <p>Terrain Breakdown</p>
        <p>{{terrainBreakdown()}}</p>
    </div>
</div>