<div class="modal-data-info-container">
    <div class="resort-modal-ratings row" *ngIf="ratings[0]">
        <div class="resort-modal-rating col-sm-6 col-xs-12" *ngFor="let category of ratings[0].reviewCategories | keyvalue">
            <p>{{category.value.label}}</p>
            <div class="review-rating-container">
                <div class="review-rating-bar" [ngStyle]="{'background-color': getStyleForBar(category.value.score), 'width': getScoreBarWidth(category.value.score)}">
                    {{category.value.score}}
                </div>
            </div>
        </div>
        <div class="modal-resort-info-table">
            <div class="row">
                <div class="col-xs-6 col-sm-4" *ngFor="let item of resortData.stats | keyvalue">
                    <h5>{{item.value.label}}: {{item.value.value}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>