<form class="review-form" (ngSubmit)="onReviewSubmit(reviewCaptureForm)" #reviewCaptureForm="ngForm">
    <div class="row">
        <div class="form-group col-xs-12">
            <input
                id="user-info"
                class="form-control"
                placeholder="Please enter a name"
                name="userName" 
                [(ngModel)]="userName"
                required>
            <textarea 
                id="resortReviewDescription"
                class="form-control"
                rows="3"
                name="resortReview"
                [(ngModel)]="resortReview"
                placeholder="Share details about your experience here"
                required></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6" >
            <label for="overallRating">Overall Rating</label>
            <select 
                id="overallRating"
                class="form-control"
                [(ngModel)]="overallScore"
                name="overallRating"
                required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-info" type="submit">Add</button>
            <button class="btn btn-warning" type="button" (click)="closeReview()">Cancel</button>
        </div>
    </div>
</form>