.review-form {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    overflow: scroll;
}

.review-form select.ng-invalid.ng-touched {
    border: 1px solid #e74c3c;
}

.review-form input.ng-invalid.ng-touched {
    border: 1px solid #e74c3c;
}

.review-form textarea.ng-invalid.ng-touched {
    border: 1px solid #e74c3c;
}

textarea {
    margin: 0 auto;
    max-width: 600px;
}
#user-info {
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 1em;
}

.resort-scores {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.radio-row {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

label {
    font-weight: 400;
}
input {
    margin-right: .5em;
}
button {
    margin: .5em;
}