<div class="resort-ratings">
    <h4>Overall Rating: 4.4 ****</h4>
    <div class="resort-category-ratings">
        <p>Snow: 4.2</p>
        <p>Crowds: 4.2</p>
        <p>Prices: 4.2</p>
        <p>Terrain: 4.2</p>
    </div>
</div>
<div class="review-container">
    <div *ngFor="let review of reviews" class="review">
        <div class="review-header">
            <div class="review-avatar"></div>
            <h6>{{review.user}}</h6>
            <h6>{{review.rating}}</h6>
        </div>
    <!-- <h2>{{review.title}}</h2> -->
        <p>{{review.description}}</p>
    </div>
</div>