.resort-ratings {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.resort-ratings p {
    margin: 0;
}

.review-container {
    width: 95%;
    height: 200px;
    margin: 0 auto;
    overflow: scroll;
}

.review {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review-header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.review-avatar {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #27ae60;
}

h6 {
    margin: 0 1em;
    display: flex;
    align-items: center;
    justify-items: center;
}

.review-body {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}