<div class="review-container">
    <div>
        <h3>Average Rating for {{name}} is 4.6 stars</h3>
    </div>
    <div *ngFor="let review of reviews" class="review">
        <div class="review-header">
            <div class="review-avatar"></div>
            <h4>{{review.user}}</h4>
            <h4>{{review.rating}}</h4>
        </div>
        <div class="review-body">
            <li>
                <ul>Terrain {{review.terrainScore}}</ul>
                <ul>Snow {{review.snowScore}}</ul>
                <ul>Affordability {{review.affordabilityScore}}</ul>
            </li>
            <p>{{review.description}}</p>
        </div>
    </div>
</div>