<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <div class="jumbobox">
                <h1>POWlist</h1>
                <h5>Explore - Shred - Review</h5>
                <div class="email-capture">
                    <input type="email" placeholder="Subscribe for updates" [(ngModel)]="email" />
                    <button class="btn btn-info" (click)="emailSubscribe(email)">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>