<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <div class="jumbobox">
                <h1>POWlist</h1>
                <h4>Explore - Shred - Review</h4>
                <div class="email-capture" *ngIf="!displayThankyou">
                    <input type="email" placeholder="Subscribe for updates" [(ngModel)]="email" />
                    <button class="btn btn-info" (click)="emailSubscribe()">Submit</button>
                </div>
                <div *ngIf="displayThankyou">
                    <h4>Thanks for Subscribing!</h4>
                </div>
            </div>
        </div>
    </div>
</div>